.reqs-feed-loading{
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    min-height: 325px;
}

.reqs-feed-recieved{
    padding-top: 1rem;
    border-top: 1px $accent solid;
    margin-bottom: 2rem;
    p{
        position: relative;
        color: $accent;
        font-size: 14px;
        background-color: white;
        padding: 0 2rem;
        bottom: 2rem;
        width: 200px;
        margin: 0 auto;
    }
}

.reqs-feed-empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    color: $mainGray;
    font-size: 16px;
    img{
        margin-bottom: 1rem;
    }
}



.reqs-feed-sent{
    .sent-heading{
        margin-bottom: 1rem;
        color: $mainGray;
        font-weight: normal;
    }
    .sent-empty{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
        color: $mainGray;
        font-size: 14px;
        i{
            margin-bottom: 1rem;
            font-size: 18px;
        }
    }
}