.pagination{
    display: flex;
    width: 100%;
    justify-content: center;
    user-select: none;
    margin: 1rem 0;
    .pagination-page{
        padding: 0.5rem 1rem;
        border-radius: 5px;
        border: 1px solid $mainGray;
        margin: 0 0.5rem;
        cursor: pointer;
        transition: all 200ms;
        &:hover{
            background-color: $whiteBg;
            color: $mainColor;
            border-color: $mainColor;
        }
        .fa-arrow-left{
            margin-right: 0.5rem;
        }
        .fa-arrow-right{
            margin-left: 0.5rem;
        }
    }
}

.pagination.disabled{
    pointer-events: none;
    .pagination-page{
        opacity: 0.5;
    }
}

@media screen and (max-width: 360px){
    .pagination{
        font-size: 12px;
    }
}