rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
   match /users/{userId}{
     allow read: if isSigned();
   }
   match /users/{userId}/notifications/{notification}{
   allow read: if isOwner(userId);
   }
   
   match /users/{userId}/friends/{friend}{
    allow read: if isOwner(userId);
   }
   match /listings/{listingId}{
     allow read: if true;
   }

   match /listings/{listingId}/contact/{contactId}{
     allow read: if true;
   }
   
   match /users/{userId}/recievedRequests/{requestId}{
    allow read: if isOwner(userId);
   }
   
   match /users/{userId}/sentRequests/{requestId}{
    allow read: if isOwner(userId);
   }
   
   match /users/{userId}/likedListings/{listing}{
   allow read: if isOwner(userId);
   }

   
   //Functions//
   function isSigned(){
   	return request.auth != null;
   }
   
   function isOwner(userId){
   return (request.auth != null && request.auth.uid == userId);
   }
   
   
  
  }
  
}