rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read;
    }
    
    match /users/{userId}/pfps/{image}{
    	allow write: if isOwner(userId);
    }
    match /users/{userId}/listingImgs/{image}{
     allow write: if isOwner(userId);
    }
    
    //Functions
    
    function isOwner(userId){
    	return (request.auth != null && request.auth.uid == userId)
    }
  
  }
}
