.header-info .info-contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:1rem ;
    .contact-icons{

        justify-content: center;
        display: flex;
        .icons-icon{
            font-size: 24px;
            color: #333;
            opacity: 0.5;
            margin: 0 0.5rem;
        }
    }
    .contact-state{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .state-icon{
            margin-right: 0.5rem;
        }
        .state-description{
            display: flex;
            align-items: center;
            font-size: 12px;
        }
    }
    .contact-button-wrapper{
        display: flex;
        justify-content:center ;
        .contact-button{
            padding: 0.75rem 2rem;
            font-size: 14px;
        }
    }
   
    &.unlocked{
        display: flex;
        justify-content: space-between;
        .contact-state{
            flex: 1;
        }

        .contact-unlocked-main{
            display: flex;
            align-items: center;
        }
       
        .contact-boxes{
            display: flex;
            align-items: center;
            justify-content: center;
            .boxes-box{
                display: flex;
                align-items: center;
                margin: 0 0.5rem;
                border: 1px solid $mainGray;
                padding: 0 0.5rem;
                border-radius: 5px;
                color: $darkerGray;
                cursor: pointer;
                transition: all 200ms;
                &:hover{
                    border-color: $mainColor;
                    color: $mainColor;
                }
                i{
                    margin-right: 0.5rem;
                    color: #333;
                }
            }
        }

        
    }

}