.faq {
  .faq-banner {
    width: 100%;
    height: 200px;
    @include gradientBg;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .container {
    margin-top: 2rem;
  }
}
