.FlatMateListing {
    background-color: #FAFAFA;
    min-height: 100vh;
    .listing-banner{
        width: 100%;
        height: 150px;
        @include gradientBg;
    }
}

.FlatMateListing .listing-content{
    width: 100%;
}

.FlatMateListing .listing-content .content-header{
    @include listingHeader;
}
.FlatMateListing .listing-content .content-body .body-info{
    margin-top: 2rem;
}

.FlatMateListing .listing-content .content-body .body-about{
   @include listingAbout;
}

@include listingMixin;



@include listingHeaderMedia;
    