.Friends{
    .friends-banner{
        height: 200px;
        width: 100%;
        @include gradientBg;
    }
    .friends-content{
        position: relative;
        bottom: 100px;
        padding: 2rem 1rem;
        background-color: white;
        border-radius: 5px;
        width: 100%;
        min-height: 100vh;
    }
    .friends-content .content-heading{
        text-align: center;
        padding-bottom: 100px;
    }

    .friends-content .content-loading{
        display: flex;
        justify-content: center;
    }

    .friends-content .content-empty{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 184px;
            height: 208px;
        }
        .empty-description{
            margin-top: 1rem;
            color: $mainGray;
            font-size: 14px;
        }
    }
    
}