.Home {
  .home-video {
    width: 100%;
    background-color: $mainGray;
    margin-bottom: 5rem;
    cursor: pointer;
  }

  .home-about-banner {
    @include gradientBg;
    margin: 3rem 0;
    position: relative;

    .mid-container {
      position: relative;
      color: white;
      padding: 3.5rem 1rem;

      display: flex;
      align-items: center;
    }

    .banner-text {
      width: 70%;
      h1 {
        margin-bottom: 1rem;
      }

      h2 {
        font-weight: normal;
        margin-bottom: 1.5rem;
      }

      button {
        font-weight: bold;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
      }
    }

    .banner-img {
      position: absolute;
      bottom: 0;
      right: 1rem;
    }
  }
  .home-donate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    h1 {
      margin-bottom: 1rem;
      color: $accent;
      text-align: center;
    }
    p {
      color: $darkerGray;
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}

.Home .home-section {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .section-image {
    position: relative;
    flex: 1;
    height: 100%;
    padding-right: 1rem;
  }

  &.section-right {
    .section-image {
      order: 3;
    }

    &.section-left {
      .section-image {
        order: -1;
      }
    }
  }

  .section-content {
    color: #333;
    flex: 1.25;
    .content-text {
      h1 {
        color: $accent;
        margin-bottom: 1rem;
        font-size: 32px;
      }
      h2 {
        color: $darkerGray;
        font-size: 24px;
        font-weight: normal;
        margin-bottom: 1rem;
      }
    }
    button {
      font-weight: bold;
    }
  }
}

//Media

@media screen and (max-width: 1200px) {
  .Home .home-about-banner {
    position: relative;
    .banner-text {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1,
      h2 {
        text-align: center;
      }
    }
    .banner-img {
      display: none;
    }
  }
}

@media screen and (max-width: 750px) {
  .Home .home-about-banner .banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      text-align: center;
    }
    h2 {
      text-align: center;
    }
  }
  .Home .home-about-banner .banner-img {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .Home .home-section {
    flex-direction: column-reverse;
    img {
      width: 100%;
    }

    &.section-left {
      img {
        order: -1;
      }
    }

    &.section-right {
      img {
        order: -1;
      }
    }

    .section-content {
      width: 100%;
      text-align: center;
      .content-text {
        h1 {
          font-size: 24px;
        }
        h2 {
          font-size: 18px;
        }
      }
    }
  }
}
