.Home{
    .home-video{
        width: 100%;
        height: 500px;
        background-color: $mainGray;
        margin-bottom: 5rem
    }

    .home-premium-banner{
        @include gradientBg;
        margin: 3rem 0 ;
       

        .mid-container{
            position: relative;
            color: white;
            padding: 2rem 1rem;
           
            display: flex;
            align-items: center;
        }
        

        .banner-text{
            flex: 1;

            h1{
                margin-bottom: 1rem;
            }

            h2{
                font-weight: normal;
                margin-bottom: 1.5rem;
            }

            button{
                font-weight: bold;
                box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
            }
        }

        .banner-imgs{
            display: flex;
            .banner-guy-container{
                width: 280px;
                height: 100%;
                .banner-guy{
                    position: absolute;
                    bottom: 0;

                }
            }

            .banner-medal{
                padding-left: 1rem;
            }
        }

        
    }
}

.Home .home-section{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .section-image{
        position: relative;
        flex: 1;
        height: 100% ;
        padding-right: 1rem;
    }

    &.section-right{
        .section-image{
            order: 3;
        }

    &.section-left{
        .section-image{
            order: -1;
        }
    }
    }

    .section-content{
        color: $darkerGray;
        flex: 1.25;
        .content-text{
            h1{
                color: $accent;
                margin-bottom: 1rem;
                font-size: 2rem;
            }
            h2{
                font-weight: normal;
                margin-bottom: 1rem;
            }
        }
        button{
            font-weight: bold;
        }
    }
}

//Media

@media screen and (max-width: 1200px){
    .Home .home-premium-banner{

        .banner-text{
            flex: 1;
        }
        .banner-imgs{
            .banner-guy-container{
                display: none;
                .banner-guy{
                    display: none;
                }
            }
        }
    }
}


@media screen and (max-width: 750px){
    .Home .home-premium-banner .banner-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            text-align: center;
        }
        h2{
            text-align: center;
        }
    }
    .Home .home-premium-banner .banner-imgs .banner-medal{
        display: none;
    }
}

@media screen and (max-width: 600px){
    .Home .home-section{
        flex-direction: column-reverse;
        img{
            width: 100%;
        }

        &.section-left{
            img{
                order: -1;
            }
        }

        &.section-right{
            img{
                order: -1;
            }
            
        }

        .section-content{
            width: 100%;
            text-align: center;
            .content-text{
                h1{
                    font-size: 24px;
                }
                h2{
                    font-size: 18px;
                }
            }
        }
    }
}