.Home {
  .home-video {
    width: 100%;
    background-color: $mainGray;
    margin-bottom: 5rem;
    cursor: pointer;
  }

  .home-about-banner {
    @include gradientBg;
    margin: 3rem 0;
    position: relative;

    .mid-container {
      position: relative;
      color: white;
      display: flex;
      align-items: center;
      padding: 2rem 1rem;
    }

    .banner-text {
      width: 70%;
      .text-main {
        margin-bottom: 1rem;
        font-size: 24px;
      }

      .text-description {
        line-height: 1.3;
        font-weight: normal;
        margin-bottom: 1rem;
        font-size: 20px;
      }

      button {
        font-weight: bold;
        font-size: 14px;
      }
    }

    .banner-img {
      width: 200px;
      height: 100%;
      position: absolute;
      bottom: 0;
      right: 1rem;
      display: flex;
      align-items: flex-end;
      .img-img {
        position: relative;
        bottom: 0;
        width: 100%;
      }
    }
  }
  .home-donate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    h1 {
      margin-bottom: 1rem;
      color: $accent;
      text-align: center;
    }
    p {
      color: $darkerGray;
      margin-bottom: 2rem;
    }
  }
}

.Home .home-section {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .section-image {
    position: relative;
    width: 40%;
    height: 100%;
    padding-right: 1rem;
  }

  &.section-right {
    .section-image {
      order: 3;
    }

    &.section-left {
      .section-image {
        order: -1;
      }
    }
  }

  .section-content {
    color: #333;
    flex: 1.25;
    .content-text {
      .text-main {
        color: $accent;
        margin-bottom: 1rem;
        font-size: 24px;
      }
      .text-description {
        line-height: 1.3;
        color: $darkerGray;
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 1rem;
      }
    }
    button {
      font-weight: bold;
      font-size: 14px;
    }
  }
}

//Media

@media screen and (max-width: 1200px) {
  .Home .home-about-banner {
    position: relative;
    .banner-text {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        text-align: center;
      }
      h2 {
        text-align: justify;
      }
    }
    .banner-img {
      display: none;
    }
  }
}

@media screen and (max-width: 750px) {
  .Home .home-about-banner .banner-text {
    display: flex;
    flex-direction: column;
    align-items: justify;
    .text-main {
      text-align: center;
      font-size: 24px;
    }
    .text-description {
      font-size: 18px;
    }
  }
  .Home .home-about-banner .banner-img {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .Home .home-section {
    flex-direction: column-reverse;
    .section-content {
      width: 100%;
      text-align: center;
      .content-text {
        .text-main {
          font-size: 24px;
          text-align: center;
        }
        .text-description {
          font-size: 18px;
          text-align: left;
        }
      }
    }
    .section-image {
      padding: 0;
      padding-top: 1rem;
      width: 80%;
      height: 100%;
    }
  }

  .Home .home-donate {
    h1 {
      font-size: 24px;
    }
  }
}
