//Listing
.Listing{
    background-color: #FAFAFA;
    min-height: 100vh;
    .listing-banner{
        @include gradientBg;
        width: 100%;
        height: 150px;
    }
}

.Listing .listing-content{
    width: 100%;
    .content-error{
        padding-top: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}


.Listing .listing-content .content-body .body-info .info-edit-boxes{
    display: flex;
    justify-content: flex-end;
    button{
        border: 1px solid $mainGray;
        border-radius: 5px;
        font-size: 14px;
        background: none;
        font-weight: bold;
        margin-top: 1rem;
        width: 100%;
        color: $mainColor;
        background: white;
    }
}
.Listing .listing-content .content-edit-buttons{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem
    }

.Listing .listing-welcome-dialog{
        overflow-y: scroll;
        max-width: 550px;
        width: 100%;
        background-color: white;
        border-radius: 5px;
        max-height:80vh;
        padding: 1rem;
        margin: 0 1rem;
        color: #333;
        .welcome-dialog-image{
            position: relative;
            width: 100%;
            border-radius: 5px;
            background-color: rgb(233, 233, 233);
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding: 0 1rem;
            padding-top: 2rem;
            img{
                margin: 0 auto;
                max-width: 100%;
                max-height: 100%;
                
            }
        }
        .welcome-dialog-heading{
            margin-bottom: 1rem;
            text-align: center;
        }
        .welcome-dialog-body{
            margin-bottom: 2rem;
        }
        .welcome-dialog-action{
            display: flex;
            justify-content: center ;
        
        }
}

//Header
.Listing .listing-content .content-header{
    background-color: white;
    max-height: auto;
    padding-bottom: 1rem;
    .mid-container{
        position: relative;
        display: flex;
        .header-pfp-container{
            position: relative;
            min-width: 280px;
            height: 200px;
            .container-edit-icon{
                pointer-events: all;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.3);
                border: white 3px solid;
                top: -80px;
                bottom: 0;
                width: 280px;
                i{
                    font-size: 24px;
                    color: white;
                }
                border-radius: 50%;
                z-index: 10;
                
            }
            .header-pfp{
                width: 280px;
                height: 280px;
                position: absolute;
                top: -80px;
                border-radius: 50%;
                border: 3px solid white;
                background-color: $mainGray;
                object-fit:cover;
            }
        }
        .header-info{
            flex: 1;
            padding-left: 32px;
            .info-main{
                width: 100%;
                display: grid;
                grid-template-columns: auto auto 1fr;
                grid-template-rows: auto auto;
                padding-block: 1rem;
            }
        }

        .header-info .info-main{
            .main-name{
                grid-column: 1/2;
                grid-row: 1/2;
                align-self: center;
                margin-right: 1rem;
            }
    
            .main-edit-profile{
                grid-column: 2/3;
                grid-row: 1/2;
                align-self: center;
                border: 1px solid $mainGray;
                background: none;
                font-size: 12px;
                padding: 0.25rem 0.5rem;
            }
    
            .main-more{
                grid-column: 3/4;
                grid-row: 1/2;
                justify-self: flex-end;
                align-self: center;
            }
    
            .main-description{
                grid-column: 1/4;
                grid-row: 2/3;
                margin-top: 0.5rem;
                font-size: 18px;
                color: $darkerGray;
            }
        }
        .header-info-loading{
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
        }
    }
}

@media screen and (max-width: 900px){
    .Listing .listing-content .content-header .mid-container{
        flex-direction: column;
        .header-info{
            padding: 0;
        }
    }
}

@media screen and (max-width: 600px){
    .Listing .listing-content .content-header .mid-container .header-pfp-container{
        height: 120px;
        width: 200px;
        .header-pfp{
            width: 200px;
            height: 200px;
        }
        .container-edit-icon{
            width: 200px;
        }
    }    
}

@media screen and (max-width: 430px){
    .Listing .listing-content .content-header .mid-container{
        .header-info .info-main{ 
            .main-name{
                font-size: 24px;
            }
            .main-description{
                font-size: 14px;
            }
        }
    }
}



//Flat listing
.FlatListing .listing-content .content-header .mid-container .header-pfp-container{
    .container-edit-icon{
        border-radius: 5px !important;
    }
    .header-pfp{
        border-radius: 5px !important;
    }
}



.FlatListing .listing-content .content-body .body-info{
    margin-top: 2rem;
}

.FlatListing .listing-content .content-body .body-info .body-opening-boxes{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;


    .boxes-profile-info{
        display: flex;
        align-items: center;
        background-color: white;
        width: 49%;
        min-height: 100px;
        border-radius: 5px;
        padding: 0.5rem 2em;
        border: 1px solid $mainGray;

        .profile-info-pfp-container{
            position: relative;
                width: 75px;
                height: 75px;
                margin-right: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
            .profile-info-pfp{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                align-self: center;
            }
            .pfp-container-edit-icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    pointer-events: all;
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.3);
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    z-index: 10;
                    border-radius: 50%;
                    cursor: pointer;
                    i{
                        color: white;
                        font-size: 18px;
                    }
            }

        }

        .profile-info-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .text-description{
                color: $mainGray;
                font-size: 12px;
                align-self: flex-start;
            }
        }
    }

    .boxes-map-container{
        width: 49%;
        height: 100px;
        border-radius: 5px;
        border: 1px solid $mainGray;
        .boxes-map{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
        
    }
}

@media screen and (max-width: 500px){
    .FlatListing .listing-content .content-body .body-info .body-opening-boxes{
        align-items: stretch;
        .boxes-profile-info{
            flex-direction: column;
            align-items: center;
            .profile-info-pfp{
                margin: 0;
            }
            .profile-info-text{
                .text-name{
                    text-align: center;
                }
                .text-description{
                    text-align: center;
                }
            }
        }
        .boxes-map-container{
            height: auto;
            max-height: 300px;
        }
        
    }
}

//Media
