.Requests{
    .requests-banner{
        @include gradientBg;
        height: 200px;
        width: 100%;
    }

    .requests-content{
        border-radius:5px ;
        padding: 2rem 1rem;
        position: relative;
        bottom: 115px;
        background-color: white;
        min-height: 100vh;

        .content-heading{
            text-align: center;
            margin-bottom: 1rem;
        }

        .content-nav{
            display: flex;
            width: 100%;
            margin-bottom: 3rem;
            .nav-link{
                cursor: pointer;
                flex: 1;
                text-align: center;
                padding: 0.5rem 0;
                border-bottom: 2px $darkWhite solid;
                &.active{
                    border-bottom: 2px $mainColor solid;
                }
            }
        }
    }
}