.reset-password {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .reset-password-error {
    color: $accent;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0.5rem 0;
      p {
        margin-bottom: 0.25rem;
      }
    }
    button {
      margin-top: 1rem;
      background-color: black;
      color: white;
    }
  }
}
