.location-dropdown{
    position: relative;
    .location-dropdown-input{
        display: flex;
        align-items: center;
        i{
            position: absolute;
            right: 1rem;

        }
        input{
            width: 100%;
            padding: 0.5rem 1rem;
        }
    }

    .location-dropdown-options{
        position: absolute;
        width: 100%;
        background: white;
        border: 1px solid $mainGray;
        border-radius: 0 0 5px 5px;
        border-top: none;
        overflow-y: auto;
        z-index: 3;
        ul{
            li{
                padding: 0.5rem 1rem;
                cursor: pointer;
                transition: all 200ms;
                &:hover{
                    background: $darkWhite;
                }
            }
        }
    }

    .location-dropdown-loading{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
    }
}