//Input range
.register-box .box-content .content-range{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
        text-align: center;
        font-weight: bold;
    }

    input{
        width: 100%; 
        border: 1px solid $mainGray;
        border-radius: 5px;
        margin-right: 0.25rem;
    }
    .range-input{
        width: 80px;
    }
}

@media screen and (max-width: 500px){
   
    .register-box .box-content .content-range{
        width: 100%;
    }
}