.under-construction{
    height: 100vh;
    color: white;
    @include gradientBg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1, h2, p, img{
        margin-bottom: 1rem;
        text-align: center;
    }
    h1{
        font-size: 124px;
    }
    h2{
        font-weight: normal;
    }
    img{
        width: 95%;
        max-width: 600px;
    }
    .wip-socials{
        display: flex;
        .socials-social{
            cursor: pointer;
            margin: 0 0.5rem;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            background-color: white;
            border-radius: 50%;
            color: #333;
        }
    }
}

@media screen and (max-width: 600px){
    .under-construction{
        h1{
            font-size: 74px;
        }
    }
}