@mixin centerHor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

//Listing post mixins
@mixin listingBoxContent{
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows: auto auto auto;
    width: 100%;
    padding: 1rem 2rem;
    
    //Grid
    .content-header{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .content-bio{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .content-more{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .content-info{
        grid-column: 2/3;
        grid-row: 2/3; 
    }
    

    //Style
    .content-header{
        margin-bottom: 0.5rem;
        color: #333;
        span{
            font-weight: bold;
        }
    }

    .content-bio{
        margin-bottom: 1rem;
        color: $darkerGray;
        font-size: 14px;
        padding-right: 1rem;
    }

    .content-more{
        a{
            color:$accent;
            text-decoration: underline;
        }
    }
}

//User profile and Listing profile mixins
@mixin listingHeader{
    background-color: white;
    max-height: auto;
    .mid-container{
        position: relative;
        display: flex;
        .header-pfp-container{
            width: 280px;
            height: 200px;
            position: relative;
            .header-pfp{
                width: 280px;
                height: 280px;
                position: absolute;
                top: -80px;
                border-radius: 50%;
                border: 3px solid white;
                background-color: $mainGray;
                object-fit:cover;
            }
        }
        .header-info{
            flex: 1;
            padding-left: 32px;
            .info-main{
                width: 100%;
                display: grid;
                grid-template-columns: auto auto 1fr;
                grid-template-rows: auto auto;
                padding-block: 1rem;
            }
        }

        .header-info .info-main{
            .main-name{
                grid-column: 1/2;
                grid-row: 1/2;
                align-self: center;
                margin-right: 1rem;
            }
    
            .main-edit-profile{
                grid-column: 2/3;
                grid-row: 1/2;
                align-self: center;
                border: 1px solid $mainGray;
                background: none;
                font-size: 12px;
                padding: 0.25rem 0.5rem;
            }
    
            .main-more{
                grid-column: 3/4;
                grid-row: 1/2;
                justify-self: flex-end;
                align-self: center;
            }
    
            .main-description{
                grid-column: 1/4;
                grid-row: 2/3;
                margin-top: 0.5rem;
                font-size: 18px;
                color: $darkerGray;
            }
        }

        .header-info .info-important{
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid $mainGray;
            .important-item{
                display: flex;
                flex-direction: column;
                flex: 1;
            }
            .important-item{
                margin-inline: 0.25rem;
                .item-header{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 0.5rem;
                    .header-icon{
                        font-size: 16px;
                        margin-right: 0.5rem;
                    }
                    .header-value{
                        font-size: 18px;
                    }
                    input.header-value{
                        font-size: 14px;
                        border: 1px solid $mainGray;
                    }

                    select.header-value{
                        padding-inline: 0.5rem;
                    }
                    .select{
                        width: 50%;
                    }

                    .header-value.header-value-edit-slider{
                        display: flex;
                        align-items: center;
                       i{
                           margin-left: 0.5rem;
                           font-size: 14px;
                        color: $mainColor;
                           border-radius: 50%;
                           cursor: pointer;
                       }
                    }
                }
                .item-description{
                    color: $darkerGray;
                    text-align: center;
                }
            }
        }
        .header-info .info-contact{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-block:1rem ;
            .contact-icons{
                justify-content: center;
                display: flex;
                .icons-icon{
                    font-size: 24px;
                    color: #333;
                    opacity: 0.5;
                    margin-right: 1rem;
                }
            }
            .contact-state{
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                .state-icon{
                    margin-right: 0.5rem;
                }
                .state-description{
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                }
            }
            .contact-button{
                border: 1px solid $mainGray;
                background-color: $mainColor;
                color: white;
                font-weight: bold;
                font-size: 12px;
                margin-left: 1rem;
            }
        }

        .header-info-loading{
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
        }
    }
}

@mixin listingHeaderMedia{
    @media screen and (max-width: 900px){
        .Listing .listing-content .content-header .mid-container{
            flex-direction: column;
            .header-info{
                padding: 0;
                .info-important{
                    .important-item{
                        .item-header{
                            .select{
                                width: 100%;
                            }
                            .header-icon.header-edit-icon{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 600px){
        .Listing .listing-content .content-header .mid-container .header-pfp-container{
            height: 120px;
            width: 200px;
            .header-pfp{
                width: 200px;
                height: 200px;
            }
        }
        .Listing .listing-content .content-header .mid-container .header-info .info-important .important-item{
            .item-header{
                .header-icon{
                    font-size: 10px;
                    margin-right: 0.5rem;
                }
                .header-value{
                    font-size: 1rem;
                }
            }
            .item-description{
                font-size: 12px;
            }
        }
        .Listing .listing-content .content-header .mid-container .header-info .info-contact{
            flex-direction: column;
            .contact-icons,.contact-state{
                margin-bottom: 1rem;
            }
            .contact-icons .icons-icon{
                font-size: 1rem;
            }
        }

        
    }

    @media screen and (max-width: 360px){
        .Listing .listing-content .content-header .mid-container .header-info .info-important .important-item .item-header .header-value{
            font-size: 12px;
        }
    }
}

@mixin listingAbout{
    border: 1px solid $mainGray;
    border-radius: 5px;
    background-color: white;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    .about-bio{
        margin-bottom: 1rem;
        .bio-header{
            font-size: 18px;
            color: $mainGray;
            margin-bottom: 0.25rem;
        }

        .bio-content{
            color: $darkerGray;
            width: 100%;
        }

        textarea.bio-content{
            width: 100%;
            resize: none;
            border: $mainGray 1px solid
        }
    }

    .about-preferences{
        margin-top: 1rem;
        .preferences-header{
            font-size: 18px;
            color: $mainGray;
            margin-bottom: 0.5rem;
        }

        .preferences-content{
            display: flex;
            max-width: 100%;
            flex-wrap: wrap;
            .tag{
                margin-right: 1rem;
                margin-block: 0.5rem;
            }
        }
    }
}

@mixin listingMixin{
    .Listing .listing-content .content-body .body-info .info-edit-boxes{
        display: flex;
        justify-content: flex-end;
        button{
            border: 1px solid $mainGray;
            border-radius: 5px;
            font-size: 14px;
            background: none;
            font-weight: bold;
            margin-top: 1rem;
            width: 100%;
            color: $mainColor;
            background: white;
        }
    }
    .Listing .listing-content .content-edit-buttons{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem
    }

    .Listing .listing-welcome-dialog{
        max-width: 550px;
        width: 100%;
        background-color: white;
        border-radius: 5px;
        max-height:80vh;
        padding: 1rem;
        margin: 0 1rem;
        color: #333;
        .welcome-dialog-image{
            position: relative;
            width: 100%;
            border-radius: 5px;
            background-color: rgb(233, 233, 233);
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding: 0 1rem;
            padding-top: 2rem;
            img{
                margin: 0 auto;
                max-width: 100%;
                max-height: 100%;
               
            }
        }
        .welcome-dialog-heading{
            margin-bottom: 1rem;
            text-align: center;
        }
        .welcome-dialog-body{
            margin-bottom: 2rem;
        }
        .welcome-dialog-action{
            display: flex;
            justify-content: center ;
        
        }
    }
}


@mixin gradientBg{
    background: rgb(48,158,171);
    background: linear-gradient(90deg, rgba(48,158,171,1) 8%, rgba(225,73,73,1) 90%);
}

@mixin whiteGradient{
background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(48,158,171,1) 61%);
}