$mainColor: #309EAB;
$accent: #E14949;
$mainGray: #B8B8B8;
$darkerGray: #6b717f;
$darkWhite: #e4e4e4;

//Hover versions
$mainColorHover:#22737c;
$accentHover:#972d2d;

//Transparent versions
$mainColorTra: rgba(48, 159, 171, 0.6);
$accentTra: rgba(225, 73, 73, 0.6);

//Breakpoints
$laptopBreak: 1200px;
$tabletBrak: 992px;
$phoneBreak: 576px;