.explore-feed{
    min-height: 100vh;
}

.explore-feed .feed-header{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-filters{
        display: flex;
        align-items: center;
        .filters-filter{
            display: flex;
            align-items: center;
            border: 1px solid $mainGray;
            padding: 0 0.5rem;
            border-radius: 5px;
            cursor: pointer;
            i{
                margin-left: 0.5rem;
            }
            &.active{
                background-color: $mainColorTra;
                border-color:$mainColor ;
                opacity: 1;
            }
            &.disabled{
                opacity: 0.5;
            }
        }
        .filters-match{
            padding: 0 0.5rem;
            margin-left: 1rem;
            display: flex;
            align-items: center;
            cursor: pointer;
            i{
                margin-left: 0.5rem;
                color: $accent;
            }
            &.active{
                border-radius: 5px;
                background-color: $mainColor;
                color: white;
                i{
                    color: white;
                }
            }
        }
    }
}

.explore-feed .loading{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.explore-feed .feed-connection-lost{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        margin-bottom: 1rem;
    }
    .lost-description{
        text-align: center;
        font-size: 14px;
        color: $mainGray;
        margin-bottom: 1rem;
    }
}

.explore-feed .feed-not-found{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        margin-bottom: 1rem;
    }
    .not-found-description{
        text-align: center;
        font-size: 14px;
        color: $mainGray;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 450px){
    .explore-feed{
        .feed-header{
            padding: 1rem 0;
            flex-direction: column;
            .header-title{
                margin-bottom: 1rem;
            }
        }
    }
}