.boxer{
    padding: 2rem;
    width: 95%;
    max-width: 900px;
    background-color: white;
    color: #333;
    border-radius: 5px;
    max-height: 90vh;
    .boxer-header{
        font-size: 24px;
        margin-bottom: 1rem;
    }
    .boxer-section{
        margin-bottom: 1rem;
        .section-header{
            font-size: 14px;
            color: $mainGray;
            margin-bottom: 0.5rem;
        }
        .section-boxes{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.5rem;

            .boxes-size-input{
                position: relative;
                width: 100%;
                input{
                    width: 100%;
                    padding: 0.5rem 1rem;
                    appearance: none;
                    outline: none;
                    border-radius: 5px;
                    border: 1px solid $mainGray;
                    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
                        appearance: none;
                    }
                    -moz-appearance: textfield;
                }
                p{
                    transform: translate(0, -50%);
                    position: absolute;
                    color: $mainGray;
                    top: 50%;
                    right: 0.5rem;
                }
            }
        }
    }
    .boxer-button{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 1000px){
    .boxer{
        overflow-y: scroll;
    }
}