//Celý box
.register-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    background-color: #EFEFEF;
    border: 5px solid white;
    padding:1rem 1rem;
    border-radius: 5px;
    min-height: 620px;
    width: 95%;
    max-width: 550px;
    margin: auto;
}

//Obsah boxu
.register-box .box-content{
    width: 100%;
    height: 100%;
    @include centerHor;
    justify-content: space-between;
    
    button{
        width: 200px;
        margin: 0 auto;
        
    }
}


//Titulek otázky
.register-box .box-content .content-title{
    margin-bottom: 0.5rem;
    text-align: center;
}

.register-box .box-content .content-img-container{
    width: 100%;
    height: 250px;
    margin-bottom: 0.5rem;
    background-color: $darkWhite;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;

    .content-img{
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
        
    }
}


//Paginace v dolní části boxu
.register-box .box-steps{
    display: flex;
    margin-top: 2rem;
    .dot{
        background-color: $mainGray;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-inline: 0.5rem;
        cursor: pointer;

        &.active-dot{
            background-color: $accent;
        }
    }
}

//Media queries

@media screen and (max-width: 900px){
    .register-box{
        width: 95%;
            .content-register{
                input{
                    width: 100%;
                }
            }
        }
    }


@media screen and (max-height: 630px){
    .register-box{
        height: 95vh;
        min-height: 500px;
        .box-content{
            .content-img-container{
                height: 150px;
            }
        }
    }
}

@media screen and (max-width: 500px){
    .register-box .box-content{
        .content-title{
            font-size: 24px;
        }
        .content-input, .content-register{
            width: 100%;
        }

        .content-buttons button{
            width: 100%;
        }

    }
}