.f-listing{
    display: flex;
    border: $mainGray 1px solid;
    border-radius: 5px;
    margin-bottom: 2rem;
    transition: all 200ms;
    cursor: pointer;

    &:hover{
        border-color: $mainColor
    }
}

//Grid defining


.f-listing .listing-content{
    @include listingBoxContent;
}


.f-listing .listing-pfp{
    min-height: 100%;
    width: 25%;
    background-color: $mainGray;
    border-radius: 5px 0 0 5px;
}



//Second grid
.f-listing .listing-content .content-info{
    height: 100%;
    color: $darkerGray;
    font-size: 14px;

    .info-row{
        display: flex;
        align-items: center;
        .row-col{
            width: 50%;
        }
    }

    span{
        color: #333;
    }


}

//Media 


@media screen and (max-width: 765px) {
    .f-listing{
        .listing-content{
            display: flex;
            flex-direction: column;
            .content-more{
                display: none;
            }
            .content-bio{
                display: none;
            }
        }
    }
}

@media screen and (max-width: 600px){
    .f-listing{
        flex-direction: column;
        .listing-pfp{
            width: 100%;
            height: 200px;
        }
    }
}