.content-header{
    background-color: white;
    max-height: auto;
    .mid-container{
        position: relative;
        display: flex;
        .header-pfp-container{
            width: 280px;
            height: 200px;
            position: relative;
            .header-pfp{
                width: 280px;
                height: 280px;
                position: absolute;
                top: -80px;
                border-radius: 50%;
                border: 3px solid white;
                background-color: $mainGray;
                object-fit:cover;
            }
        }
        .header-info{
            flex: 1;
            padding-left: 32px;
            .info-main{
                width: 100%;
                display: grid;
                grid-template-columns: auto auto 1fr;
                grid-template-rows: auto auto;
                padding-block: 1rem;
            }
        }

        .header-info .info-main{
            .main-name{
                grid-column: 1/2;
                grid-row: 1/2;
                align-self: center;
                margin-right: 1rem;
            }
    
            .main-edit-profile{
                grid-column: 2/3;
                grid-row: 1/2;
                align-self: center;
                border: 1px solid $mainGray;
                background: none;
                font-size: 12px;
                padding: 0.25rem 0.5rem;
            }
    
            .main-more{
                grid-column: 3/4;
                grid-row: 1/2;
                justify-self: flex-end;
                align-self: center;
            }
    
            .main-description{
                grid-column: 1/4;
                grid-row: 2/3;
                margin-top: 0.5rem;
                font-size: 18px;
                color: $darkerGray;
            }
        }
    }
}