.Listing .listing-content .content-header{
    background-color: white;
    max-height: auto;
    padding-bottom: 1rem;
    .mid-container{
        position: relative;
        display: flex;
        .header-pfp-container{
            position: relative;
            min-width: 280px;
            height: 200px;
            .container-edit-icon{
                display: flex;
                pointer-events: all;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.3);
                border: white 3px solid;
                top: -80px;
                bottom: 0;
                width: 280px;
                i{
                    cursor: pointer;
                    margin: 0 0.5rem;
                    padding: 1.5rem;
                    background-color: rgba(0, 0, 0, 0.5);
                    border-radius: 50%;
                    font-size: 24px;
                    color: white;
                    &.fa-trash{
                        color: red;
                    }
                }
                border-radius: 50%;
                z-index: 10;
                
            }
            .header-pfp{
                width: 280px;
                height: 280px;
                position: absolute;
                top: -80px;
                border-radius: 50%;
                border: 3px solid white;
                background-color: $mainGray;
                object-fit:cover;
            }
        }
        .header-info{
            flex: 1;
            padding-left: 32px;
            .info-main{
                width: 100%;
                display: grid;
                grid-template-columns: auto auto 1fr;
                grid-template-rows: auto auto;
                padding-block: 1rem;
                .main-name i{
                    color: $mainColor;
                }
            }
        }

        .header-info .info-main{
            .main-name{
                grid-column: 1/2;
                grid-row: 1/2;
                align-self: center;
                margin-right: 1rem;
            }
    
            .main-edit-profile{
                grid-column: 2/3;
                grid-row: 1/2;
                align-self: center;
                border: 1px solid $mainGray;
                background: none;
                font-size: 12px;
                padding: 0.25rem 0.5rem;
            }

            .main-actions{
                grid-column: 3/4;
                grid-row: 1/2;
                justify-self: flex-end;
                align-self: center;
                display: flex;
                align-items: center;
            }
    
    
            .main-description{
                grid-column: 1/4;
                grid-row: 2/3;
                margin-top: 0.5rem;
                font-size: 18px;
                color: $darkerGray;
            }
        }
        .header-info-loading{
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
        }
    }
}

.Listing .listing-content .content-header .header-info .info-main{
    .main-actions{
        i{
            cursor: pointer;
            &.fa-heart{
                margin-right: 1rem;
                font-size: 24px;
            }
        }
    }
    .main-more-list{
        height: 0;
        position: absolute;
        right: 0;
        top: 3rem;
        background-color: white;
        border-radius: 5px;
        border: 1px solid $mainGray;
        transition: all 200ms;
        overflow: hidden;
        opacity: 0;
        li {
            padding: 0.5rem;
            cursor: pointer;
        }
        &.active{
            height: auto;
            opacity: 1;
        }
    }
}

@media screen and (max-width: 900px){
    .Listing .listing-content .content-header .mid-container{
        flex-direction: column;
        .header-info{
            padding: 0;
        }
    }
}

@media screen and (max-width: 600px){
    .Listing .listing-content .content-header .mid-container .header-pfp-container{
        height: 120px;
        width: 200px;
        .header-pfp{
            width: 200px;
            height: 200px;
        }
        .container-edit-icon{
            width: 200px;
        }
    }    
}

@media screen and (max-width: 430px){
    .Listing .listing-content .content-header .mid-container{
        .header-info .info-main{ 
            .main-name{
                font-size: 24px;
            }
            .main-description{
                font-size: 14px;
            }
        }
    }
}
