.tag{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid $mainGray;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: all 200ms;
    user-select: none;

    .tag-icon{
        color: $mainColor;
        margin-right: 0.5rem;
        &.box-tag-icon{
            color: #333;
        }
    }

    .tag-icon.fa-plus{
        margin: 0;
        cursor: pointer;
    }
}

.tag.active{
    background-color: #309fab2d;
}

@media screen and (max-width: 900px){
    .tag{
        font-size: 12px;
    }
}