.tagger{
    background-color: white;
    border-radius: 5px;
    color: #333;
    padding: 2rem;
    width: 95%;
    max-width: 900px;
    max-height: 90vh;
    margin-inline: 1rem;
    .tagger-header{
        font-size: 24px;
        margin-bottom: 1rem;
    }
    .tagger-section{
        margin-bottom: 1rem;
        .section-header{
            font-size: 14px;
            color: $mainGray;
            margin-bottom: 0.5rem;
        }
        .section-tags{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }
    }

    .tagger-button{
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        border-top: 1px solid $mainGray;
    }
}

@media screen and (max-width: 1000px){
    .tagger{
        overflow-y:scroll ;
    }
}