.sent-req{
    padding: 1rem;
    border: 1px solid $mainGray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 200ms;
    margin-bottom: 1rem;
    &:hover{
        border-color: $mainColor;
    }
    .req-pfp-container{
        padding-right: 1rem;
        .container-pfp{
            width: 60px;
            height: 60px;
            background-color: $mainGray;
            border-radius: 50%;
        }
    }
    .req-content{
        flex: 1;
        .content-user{
            font-weight: bold;
        }
        .content-status{
            font-size: 14px;
            color: $darkerGray;
        }
    }

    .req-status{
        padding: 0 2rem;
        display: flex;
        align-items: center;
        i{
            font-size: 18px;
            &.fa-check{
                color: $mainColor;
            }
            &.fa-times{
                color: $accent;
            }
            &.fa-hourglass-half{
                color: $mainGray;
            }
        }
    }
}